@define-color bg #2e3440;
@define-color acn #81a1c1;
@define-color fg #e5e9f0;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'Cousine NF';
    font-size: 20px;
}

window#waybar {
    background-color: @bg;
    border-bottom: 1px solid @acn;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -1px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: @bg;
    box-shadow: inset 0 -1px #fbf1c7;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}


#mpd {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
}

#window {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}
#workspaces {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#battery {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#battery.charging, #battery.plugged {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#disk {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#backlight {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#network {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#network.disconnected {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#pulseaudio {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#pulseaudio.muted {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;  
}

#mpd.disconnected {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#mpd.stopped {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#mpd.paused {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#language {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}

#scratchpad.empty {
	margin-top: 5;
    margin-bottom: 5;
    border-radius: 11;
    border-style: dashed;
    border-color: @acn;
    background-color: @bg;
    border-width: 1px;
    padding-left: 5;
    padding-right: 5;
    margin-left: 5;
    margin-right: 5;
}
